.profile_header{
    text-align: center;
    padding: 5px;
}
.profile_items{
    display: flex;
    justify-content: space-around;
}
.dateSelection{
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.addedposition{
    color: blue;
}