//variable declaration in list form fot links only
$a-tags: 'a, a:active, a:hover, a:visited, a:active, a:hover';

body{
    background: white;
    .title{
      text-align: center;
      font-weight: bold;
      font-family: "Spectral SC";
      &.sub{
        color:#c45d1d;
      }
    }
    #all{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
      .mainframe{
        background: #efefea;
        margin:0 auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        .card {
          display: flex;
          flex-direction: column;
          align-items: center;
          margin:10px;
          width:150px;
          background:#d9dde3;
          border-radius: 3px;
          font-size: 1.5em;
          cursor: default;
          &.lit{
            background: white;
            transform: translateY(-10px);
            transform: translatex(-2px);
            transform: scale(1.1);
            box-shadow: 10px 5px 5px black;
          }
          &.usd{
            background: #f0d8b9;
          }
          .symbol{
            color: #913232;
            font-weight: bold;
            font-family: "Spectral SC";

            .strength{
              color: #315391;
              font-weight: bold;
              font-family: "Spectral SC";
            }
          }
          .events{
            color: #9e3008;
            font-weight: bold;
            font-family: 'Fredoka One', cursive;
            cursor: pointer;
          }
        }
      }
    }
    #gitsource{
      padding-top: 50px;
      text-align: center;
      text-decoration: none;
      text-transform: full-width;
      font-weight: 900;
      font-size: 18px;
      color:
      a:hover{
        text-decoration: none;
      }
    }
    @media screen and (max-width: 640px){
      #all{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    }
  }
  .modal{
    #contained-modal-title-zoom{
      text-align: center;
      .currency{
        font-weight: bold;
      }
    }
  }
