body {
  background: white;
}

body .title {
  text-align: center;
  font-weight: bold;
  font-family: "Spectral SC";
}

body .title.sub {
  color: #c45d1d;
}

body #all {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

body #all .mainframe {
  background: #efefea;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

body #all .mainframe .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  width: 150px;
  background: #d9dde3;
  border-radius: 3px;
  font-size: 1.5em;
  cursor: default;
}

body #all .mainframe .card.lit {
  background: white;
  transform: translateY(-10px);
  transform: translatex(-2px);
  transform: scale(1.1);
  box-shadow: 10px 5px 5px black;
}

body #all .mainframe .card.usd {
  background: #f0d8b9;
}

body #all .mainframe .card .symbol {
  color: #913232;
  font-weight: bold;
  font-family: "Spectral SC";
}

body #all .mainframe .card .symbol .strength {
  color: #315391;
  font-weight: bold;
  font-family: "Spectral SC";
}

body #all .mainframe .card .events {
  color: #9e3008;
  font-weight: bold;
  font-family: 'Fredoka One', cursive;
  cursor: pointer;
}

body #gitsource {
  padding-top: 50px;
  text-align: center;
  text-decoration: none;
  text-transform: full-width;
  font-weight: 900;
  font-size: 18px;
  color: a;
}

body #gitsource :hover {
  text-decoration: none;
}

@media screen and (max-width: 640px) {
  body #all {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.modal #contained-modal-title-zoom {
  text-align: center;
  font-size: 22px;
  font-family: 'Abril Fatface', cursive;
}

.modal #contained-modal-title-zoom .currency {
  font-weight: bold;
  color: blue;
}

.modal #mbody {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background: #dfedfb;
}

.modal #mbody .event {
  width: 100%;
  background: rgba(231, 233, 234, 0.5);
  color: #191717;
  font-size: 16px;
  font-family: 'Abril Fatface', cursive;
}

.modal #mbody .time {
  color: #60709e;
}
