$inputBottomMargin: 10px;

#symbol{
    text-transform: uppercase;
}
.confirmation{
    white-space: pre-wrap;      /* CSS3 */   
    white-space: -moz-pre-wrap; /* Firefox */    
    white-space: -pre-wrap;     /* Opera <7 */   
    white-space: -o-pre-wrap;   /* Opera 7 */    
    word-wrap: break-word;      /* IE */
    font-weight: bold;
    .entrydata{
        background: rgb(228, 216, 161);
        margin-bottom: 5px;
        border-radius: 3px;
        padding: 5px;
    }
    .entrycomments{
        background: rgb(221, 217, 217);
        margin-bottom: 5px;
        border-radius: 3px;
        padding: 5px;
    }
    .entryrisk{
        background: rgb(218, 90, 90);
        margin-bottom: 5px;
        border-radius: 3px;
        padding: 5px;
    }
}

.lastprice{
    font-weight: bold;
    text-align: center;
}

.formLabels{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 5px;
}

.dateSymbol{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: $inputBottomMargin;
    #Trade_Entry_Date{
        width:50%;
        text-align: center;
        margin-right:5px;
    }
    #symbol{
        width:50%;
    }
}

.directionPrice{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: $inputBottomMargin;
    
    #direction{
        width:50%;
        margin-right:5px;
        text-align: center;
    }
    #price{
        width:50%;
        text-align: center;
    }
}

.sizeStop{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: $inputBottomMargin;
    #stop{
        width:50%;
    }
    #positionsize{
        width:50%;
        margin-right:5px;
    }
}

.comments{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: $inputBottomMargin;
}

.savedmodels{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: $inputBottomMargin;
    flex-wrap: wrap;
    h4{
        cursor: pointer;
        font-size: 120%;
    }
}

.entryfooter{
    display: flex;
    justify-content: space-around;
    align-items: center;
    .clearform{
        color: red;
        width:20%;
        height: 5vmax;
        margin-right: 5%;
        cursor: pointer;
    }
    .saveform{
        color: rgb(45, 80, 233);
        width:20%;
        height: 5vmax;
        margin-right: 5%;
        cursor: pointer;
    }
    button{
        cursor: not-allowed;
    }
}


.modal-header{
    button:focus {outline:0;}
}