#symbol{
    text-transform: uppercase;
}
.confirmation{
    white-space: pre-wrap;      /* CSS3 */   
    white-space: -moz-pre-wrap; /* Firefox */    
    white-space: -pre-wrap;     /* Opera <7 */   
    white-space: -o-pre-wrap;   /* Opera 7 */    
    word-wrap: break-word;      /* IE */
    font-weight: bold;
    .entrydata{
        background: rgb(228, 216, 161);
        margin-bottom: 5px;
        border-radius: 3px;
        padding: 5px;
    }
    .entrycomments{
        background: rgb(221, 217, 217);
        margin-bottom: 5px;
        border-radius: 3px;
        padding: 5px;
    }
    .entryrisk{
        background: rgb(218, 90, 90);
        margin-bottom: 5px;
        border-radius: 3px;
        padding: 5px;
    }
}