.profile_header{
    text-align: center;
    padding: 5px;
}
.profile_items{
    display: flex;
    justify-content: space-around;
    font-family: Roboto;
    font-weight: bold;
    font-size: 4vmax;
    color: rgb(107, 70, 27);
    text-shadow: 1px 1px 1px #000000;
}
.dateSelection{
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.addedposition{
    color: blue;
}

.tradetablecaption{
    text-align: center;
    .displaytext{
        display: inline-block;
        font-size: 1em;
        text-align: left;
        white-space: pre-line;
    }
}

.notrades{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    font-family: Roboto;
    font-weight: bold;
    font-size: 2em;
    color: rgb(226, 27, 27);
}