
.navigation{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  button:focus {outline:0;}
  .signin{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #DB4437;
    width: 300px;
    padding: 10px;
    border-radius: 5px;
    color:white;
    font-family: Roboto;
    font-weight: bold;
    cursor: pointer;
    .signinfont{
      font-size: 1em;
    }
    .login{
      font-size: 1.5em;
    }
  }
  .navitem{
    display: flex;
    align-items: center;
    height: 50px;
    padding: 10px;
    background: #e6d2d5;
    font-size: 1.25em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:#23265a;
    text-decoration: none;
  }
  .active{
    background: orange;
  }
}