//variable declaration in list form fot links only
$a-tags: 'a, a:active, a:hover, a:visited, a:active, a:hover';

body{
    background: white;
  }



  .Loading{
    margin:0 auto;
    width:150px;
    height: 150px;
    margin-top: 300px;
    border: 20px solid black;
    border-top-color: #1a6aed;
    border-bottom-color: #f49b42;
    border-radius: 50%;
    animation-name: picloading;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
  
  @keyframes picloading {
    0%{
      transform: rotate(0deg) scale(1);
    }
    50%{
      transform: rotate(360deg) scale(1.05);
    }
    100%{
      transform: rotate(720deg) scale(1);
    }
  }