//variable declaration in list form fot links only
$a-tags: 'a, a:active, a:hover, a:visited, a:active, a:hover';

body{
    background: white;
  }

.header{
  .description{
    .title{
      text-align: center;
      font-weight: bold;
      font-family: "Spectral SC";
      &.valid{
        color:#c45d1d;
      }
      &.expired{
        color:red;
      }
    }
    .forexHours{
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      margin: 20px;
      .center{
        border: 0px solid rgb(95, 159, 255);
        padding:5px;
        margin: 3px;
        border-radius: 7px;
        font-size: .7em;
        font-weight: bold;
        
        &.open{
          background: rgb(30, 219, 30);
        }
        &.closed{
          background: rgb(255, 68, 68);
          color: white;
        }
      }
    }
  }
}


.Loading{
    margin:0 auto;
    border-radius: 50%;
    animation-name: picloading;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    margin-top: 30px;
    width:150px;
    height: 150px;
    border: 20px solid black;
    border-top-color: #1a6aed;
    border-bottom-color: #f49b42;
    &.dataupdate{
      margin-top: 10px;
      width:15px;
      height: 15px;
      border: 20px solid black;
      &.fx{
        border-top-color: #049c2a;
        border-bottom-color: #049c2a;
      }
      &.mt4Down{
        border-top-color: #ed331a;
        border-bottom-color: #ed331a;
      }
    }
}
  
@keyframes picloading {
  0%{
    transform: rotate(0deg) scale(1);
  }
  50%{
    transform: rotate(360deg) scale(1.05);
  }
  100%{
    transform: rotate(720deg) scale(1);
  }
}
