.header{
  .description{
    .title{
      text-align: center;
      font-weight: bold;
      font-family: "Spectral SC";
      &.valid{
        color:#c45d1d;
      }
      &.expired{
        color:red;
      }
    }
    .forexHours{
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      margin: 20px;
      .center{
        border: 0px solid rgb(95, 159, 255);
        padding:5px;
        margin: 3px;
        border-radius: 7px;
        font-size: .7em;
        font-weight: bold;
        
        &.open{
          background: rgb(30, 219, 30);
        }
        &.closed{
          background: rgb(255, 68, 68);
          color: white;
        }
      }
    }
  }
  .login{
    display: flex;
    justify-content: space-around;
    color: white;
  }
  
}
