.header{
  .description{
    .title{
      text-align: center;
      font-weight: bold;
      font-family: "Spectral SC";
      &.valid{
        color:#c45d1d;
      }
      &.expired{
        color:red;
      }
    }
  }
  .login{
    display: flex;
    justify-content: space-around;
    color: white;
  }
  
}
